.uk-button
{
    height:42px;
    background-color:red;
}
#top
{
    margin-top:150px;
}
.uk-accordion-title
{
    background-color:whitesmoke;
    padding:5px;
}
#mainaccordion
{
    margin-left:50px;
    margin-top:50px;
    margin-right:100px;
}
#total
{
    float:right;
}