#date
{
    height: 35px;
    border-style:solid;
    border-width:thin;
    border-color:red;
}
#export
{
    height:40px;
    background-color:red;
    margin-left:150px;
}
#salesrepinput
{
    border-style:solid;
    border-width:thin;
    border-color:red;
}