#filter,#viewall,#search
{
    height:40px;
    background-color:red;
}
#search
{
    height:35px;
}
#navbar
{
    background-color: #f0f0d0;
    height:50px;
}
#navitem
{
    margin-top: -15px;
}
#top
{
    margin-top:150px;
}
#subtop
{
    margin-top:35px;
}
#headinglabel
{
    margin-left: 355px;
}
#date,#searchinput
{
    height: 35px;
    border-style:solid;
    border-width:thin;
    border-color:red;
}
#searchinput
{
    margin-left:50px;
}
#logout
{
    background-color: blue;
}
#mainaccordion
{
    margin-left:50px;
    margin-top:50px;
    margin-right:100px;
}
#total
{
    float:right;
}
.uk-accordion-title
{
    background-color:whitesmoke;
    padding:5px;
}